textarea {
  resize: none;
  overflow: hidden;
  height: 200px !important;
}
.inp {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 80%;
}
.inp .label {
  position: absolute;
  top: 16px;
  left: 0;
  font-size: 16px;
  font-family: roboto;

  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}
.inp .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #454a58;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
}
.inp input,
.inp textarea {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 12px 0;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #c8ccd4;
  background: none;
  border-radius: 0;
  color: #223254;
  transition: all 0.15s ease;
}
.inp input:hover,
.inp textarea:hover {
  background: rgba(34, 50, 84, 0.03);
}
.inp input:not(:placeholder-shown) + span,
.inp textarea:not(:placeholder-shown) + span {
  color: #5a667f;
  transform: translateY(-26px) scale(0.75);
}
.inp input:focus,
.inp textarea:focus {
  background: none;
  outline: none;
}
.inp input:focus + span {
  color: #07f;
  transform: translateY(-10px) scale(0);
}
.inp input:focus + span + .border {
  transform: scaleX(1);
}
.submitbutton {
  box-shadow: rgba(0, 0, 0, 0.22) 2px 4px 10px;
  background-color: #ffffff;
  font-family: roboto;
  font-weight: 600;
  padding: 0.75em 1em;
  border: none;
  width: 100%;
  margin: 3em auto 2em auto;
  cursor: pointer;
}
input.submitbutton:hover {
  background-color: #ededed;
}
@media (max-width: 849px) {
  .submitbutton {
    max-width: 80%;
  }
}
@media (min-width: 850px) {
  .submitbutton {
    max-width: 60%;
  }
}
@media (min-width: 1000px) {
  .submitbutton {
    max-width: 45%;
  }
}
