@media (min-width: 30em) {
    .containertitle {
        margin-left: 40%;
    }
}
@media (max-width: 30em) {
    .mobileview {
        display: flex;
        flex-direction: column-reverse;
    }
}

.backgroundgrowth {
    background-color: #f7f7f7;
    padding: 4em 0;
    box-shadow: 0px 10px 23px 0px rgba(214,214,214,1);
}
.backgroundgrowthcontainer {
    background-color: #E6E6EA;
}
