.line::before {
content: "";
position: absolute;
left: 50%;
margin-top: -5em;
height: 200px;
width: 2px;
background-color: #edecea;
}

.logocontainer {
    display: flex;
    flex-direction: column;
    margin: 7em auto 5em;
}
@media (max-width: 750px) {
    .cardwrapper {
        display: flex-wrap;
        margin: 40px auto;
        width: 77%;
        justify-content: space-between;
        
    }
}
@media (min-width: 750px) {
    .cardwrapper {
        display: flex;
        margin: 40px auto;
        width: 95%;
        justify-content: space-between;
    }
}

.card {
  background-color: #fff;
  border-radius: 8px;
  border-width: 0;
  box-shadow: none;
  cursor: pointer;
  display: block;
  margin: 0 6px 1em;
  outline: 0;
  padding: 50px 10px 40px;
  text-align: center;
  text-decoration: none;
  transition-delay: 0s;
  transition-duration: .2s;
  transition-property: box-shadow;
  transition-timing-function: ease-out;
}
.card:hover {
    box-shadow: rgba(0, 0, 0, 0.07) 0 0 4px 0, rgba(0, 0, 0, 0.12) 0 8px 16px 0;
}

.svgicons {
    height: 100px;
    margin-bottom: 2em;
}
.iconsdescription {
    max-width: 700px;
}
p.react-reveal.lh-copy {
    width: 50%;
    margin: 0px 56% 3em;
}