.line::before {
content: "";
position: absolute;
left: 50%;
margin-top: -2em;
height: 160px;
width: 1px;
background-color: #edecea;
}
.backgroundpartners {
    background-color: rgba(247,247,247,0.5);
    padding: 6rem 0;
}

.logocontainer {
    display: flex;
    flex-direction: column;
    margin: 7em auto 5em;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

@media only screen and (max-width: 750px) {
    .cardwrapper {
        display: flex-wrap;
        margin: 0 auto;
        width: 77%;
        justify-content: space-between;
    }
    .logocontainer {
        display: flex;
        flex-direction: column;
        margin: 5em auto 0;
        
    }
    .logostop {
      padding: .35em;
    }
    @keyframes FadeInRight {
        0% {
          
          transform:translateX(0px);
          opacity: 0;
        }
      
        100% {
            transform:translateX(4rem);
          opacity: 1;
        }
      }
      @keyframes FadeInLeft {
        0% {
          
          transform:translateX(0px);
          opacity: 0;
        }
      
        100% {
            transform:translateX(4rem);
          opacity: 1;
        }
      }
      .fadeintextrighttop {
        font-size: 1rem;
        font-weight: 300;
        position: absolute;
        top: 21.5rem;
        opacity: 0;
        animation-name: FadeInRight;
        animation-delay: .5s;
        animation-duration: 6s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
      }
      .fadeintextrightbottom {
        font-size: 1rem;
        font-weight: 300;
        position: absolute;
        top: 23.5rem;
        opacity: 0;
        animation-name: FadeInRight;
        animation-delay: 1.5s;
        animation-duration: 6s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
      }
      .fadeintextlefttop {
        font-size: 1rem;
        font-weight: 300;
        position: absolute;
        top: 25.5rem;
        opacity: 0;
        animation-name: FadeInLeft;
        animation-delay: 2s;
        animation-duration: 6s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
      }
      .fadeintextleftbottom {
        font-size: 1rem;
        font-weight: 300;
        position: absolute;
        top: 27.5rem;
        opacity: 0;
        animation-name: FadeInLeft;
        animation-delay: 2.5s;
        animation-duration: 6s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
      }
}
@media only screen and (min-width: 750px) {
    .cardwrapper {
        display: flex;
        margin: 0 auto;
        width: 95%;
        justify-content: space-between;
    }
    .logocontainer {
        display: flex;
        flex-direction: column;
        margin: 5em auto 0;
       /*  height: 19.5rem; */
    }
    .logostop {
      padding: 1em;
    }
    @keyframes FadeInRight {
        0% {
          
          transform:translateX(30em);
          opacity: 0;
        }
      
        100% {
            transform:translateX(26em);
          opacity: 1;
        }
      }
      @keyframes FadeInLeft {
        0% {
          
          transform:translateX(1em);
          opacity: 0;
        }
      
        100% {
            transform:translateX(8em);
          opacity: 1;
        }
      }
    
      .fadeintextrighttop {
        font-size: 1rem;
        font-weight: 300;
        position: absolute;
        top: 8.5rem;
        opacity: 0;
        animation-name: FadeInRight;
        animation-delay: 2s;
        animation-duration: 6s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
      }
      .fadeintextrightbottom {
        font-size: 1rem;
        font-weight: 300;
        position: absolute;
        top: 17.5rem;
        opacity: 0;
        animation-name: FadeInRight;
        animation-delay: 2.5s;
        animation-duration: 6s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
      }
      .fadeintextlefttop {
        font-size: 1rem;
        font-weight: 300;
        position: absolute;
        top: 8.5rem;
        opacity: 0;
        animation-name: FadeInLeft;
        animation-delay: .5s;
        animation-duration: 6s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
      }
      .fadeintextleftbottom {
        font-size: 1rem;
        font-weight: 300;
        position: absolute;
        top: 17.5rem;
        opacity: 0;
        animation-name: FadeInLeft;
        animation-delay: 1.5s;
        animation-duration: 6s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
      }    
}
@media only screen and (min-width: 30em) {
    .containertitle {
        margin-left: 40%;
    }
}

.card {
  background-color: #fff;
  border-radius: 8px;
  border-width: 0;
  box-shadow: none;
  cursor: pointer;
  display: block;
  margin: 0 6px 1em;
  outline: 0;
  padding: 50px 10px 40px;
  text-align: center;
  text-decoration: none;
  transition-delay: 0s;
  transition-duration: .2s;
  transition-property: box-shadow;
  transition-timing-function: ease-out;
}
.card:hover {
    box-shadow: rgba(0, 0, 0, 0.07) 0 0 4px 0, rgba(0, 0, 0, 0.12) 0 8px 16px 0;
    background-color: #f6f7f9;
}

.svgicons {
    height: 100px;
    margin-bottom: 2em;
}
.iconsdescription {
    max-width: 700px;
}
.logoheight {
    height: 8em;
}

.button {
    display: inline-flex;
    overflow: hidden;
    margin: 10px;
    padding: 12px 12px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transition: all 150ms linear;
    text-align: center;
    white-space: nowrap;
    text-decoration: none !important;
    text-transform: none;
    text-transform: capitalize;
    color: #fff;
    border: 0 none;
    border-radius: 4px;
    font-weight: 600;
    font-family: Poppins;
    text-transform: uppercase;
    line-height: 1.3;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    justify-content: center;
    align-items: center;
    flex: 0 0 160px;
    box-shadow: 2px 5px 10px #e4e4e4;
  }
  .button:hover {
    transition: all 150ms linear;
    opacity: .85;
  }
  .button:active {
    transition: all 150ms linear;
    opacity: .75;
  }
  .button:focus {
    outline: 1px dotted #959595;
    outline-offset: -4px;
  }

  .button.-dark {
    color: white;
    background: rgb(0,67,103);
  }
  .button.-dark:focus {
    outline: 1px dotted white;
    outline-offset: -4px;
  }
  .headingcolorshadow {
    color: #333333;
    text-shadow: 1px 1px 1px #666;
  }
  @keyframes move {
    from {
    }
  
    to {
        transform: translateY(25px)
    }
  }
  
  .logoanimation {
    animation-duration: 2s;
    animation-name: move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }

/*   @keyframes FadeInRight {
    0% {
      
      transform:translateX(30em);
      opacity: 0;
    }
  
    100% {
        transform:translateX(25em);
      opacity: 1;
    }
  }
  @keyframes FadeInLeft {
    0% {
      
      transform:translateX(1em);
      opacity: 0;
    }
  
    100% {
        transform:translateX(5em);
      opacity: 1;
    }
  }

  .fadeintextrighttop {
    font-size: 1rem;
    position: absolute;
    top: 8.5rem;
    opacity: 0;
    animation-name: FadeInRight;
    animation-delay: 2s;
    animation-duration: 6s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
  .fadeintextrightbottom {
    font-size: 1rem;
    position: absolute;
    top: 13.5rem;
    opacity: 0;
    animation-name: FadeInRight;
    animation-delay: 2.5s;
    animation-duration: 6s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
  .fadeintextlefttop {
    font-size: 1rem;
    position: absolute;
    top: 8.5rem;
    opacity: 0;
    animation-name: FadeInLeft;
    animation-delay: .5s;
    animation-duration: 6s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
  .fadeintextleftbottom {
    font-size: 1rem;
    position: absolute;
    top: 15.5rem;
    opacity: 0;
    animation-name: FadeInLeft;
    animation-delay: 1.5s;
    animation-duration: 6s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
   */