@media (min-width: 30em) {
    .containertitle {
        margin-left: 40%;
        margin-bottom: 4em;
    }
}
.containerinvestors {
    text-align: center;
}
.investorparagraph {
    max-width: 30em;
    margin: 2em auto;
}
.background {
    background-color: #f7f7f7;
}