.footerlogo {
    text-align: center;
    padding: 2.45em 0;
}
.container {
    max-width: 90%;
    margin: auto;
    padding-bottom: 2.45em;
  }
 p.copyright {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid lightgrey; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
} 

p.copyright span { 
    background:#7f7f7f; 
    padding:0 30px; 
    color: white;
    font-family: Poppins;
    font-size: .7em;
}
.logofoot {
    max-width: 200px;
}

@media (min-width: 700px) {
    .footernav {
        display: flex;
        justify-content: space-evenly;
    }
    div .mobilecta {
        display: none;
    }
    .footernav {
        padding: 0;
    }
}
.socialfollow {
    display: inline-block;
}
.socialicon {
    height: 20px;
    padding: 0 5px 0 15px;
}
.socialcontainer {
    text-align: center;
}

.mobilebutton1 {
    font-family: Poppins;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(127, 126, 126);
    color: white;
}
.mobilebutton2 {
    font-family: Poppins;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(157, 157, 157);
    color: white;
}
.topmenu {
    font-family: Poppins;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .9em;
}
.footernav {
    padding-top: 1.25em;
    padding-bottom: 1.25em;
}
.listitem {
    padding-top: 1em;
    
}
.sublistitem {
    font-family: Roboto;
    font-weight: 300;
    font-size: .9em
}
.adress {
    font-size: .85em;
    color: white;
    line-height: 1.65em;
    font-family: roboto;
    text-transform: uppercase;
    font-weight: 600;
    font-style: normal;
    margin: 0;
}