.footerlogo {
    text-align: center;
    padding: 2.45em 0;
}
.container {
    max-width: 90%;
    margin: auto;
    padding-bottom: 2.45em;
  }
 p.copyright {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid lightgrey; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
} 

p.copyright span { 
    background:grey; 
    padding:0 30px; 
}
.logofoot {
    max-width: 200px;
}

@media (min-width: 600px) {
    .footernav {
        display: flex;
        justify-content: space-evenly;
    }
}
.socialfollow {
    display: inline-block;
}
.socialicon {
    height: 20px;
    padding: 0 5px 0 15px;
}
.socialcontainer {
    text-align: center;
}