.footerlogo {
    text-align: center;
    padding: 2.45em 0;
}
.container {
    max-width: 90%;
    margin: auto;
    padding-bottom: 2.45em;
  }
 p.copyright {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid lightgrey; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
} 

p.copyright a { 
    background:#5a5a5a; 
    padding:0 30px; 
    color: lightgrey;
    font-family: Poppins;
    font-size: .7em;
}
.logofoot {
    max-width: 200px;
}

@media (min-width: 700px) {
    .footernav {
        display: flex;
        justify-content: space-evenly;
    }
    div .mobilecta {
        display: none;
    }
    .footernav {
        padding: 0;
    }
    .mobileonly {
        display: none;
    }
}
.socialfollow {
    display: inline-block;
}
.socialicon {
    padding: 0 5px 0 15px;
}
.socialicon:hover path {
    fill: white;
}
.socialcontainer {
    text-align: center;
}

.mobilebutton1 {
    font-family: Poppins;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    background-color: #f3f3f3;
    color: dimgrey;
}
.mobilebutton2 {
    font-family: Poppins;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    background-color: #3a3939;
    color: white;
}
.topmenu {
    font-family: Poppins;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9em;
    color: white;
}
.footernav {
    padding-top: 1.25em;
    padding-bottom: 1.25em;
}
.listitem {
    padding-top: 1em;
    
}
.sublistitem {
    font-family: Roboto;
    font-weight: 300;
    font-size: .9em;
    color: lightgrey;
    cursor: pointer;
}
.sublistitem:hover {
    color: white;
}
span.topmenu:hover {
    color: lightgrey;
    text-shadow: 0.5px 0.5px 0px black;
}
.impressum {
    cursor: pointer;
}
.impressum:hover {
    color:white;
    
}

.adress {
    font-size: .85em;
    color: white;
    line-height: 1.65em;
    font-family: roboto;
    font-weight: 500;
    font-style: normal;
    margin: 0;
}