.main > div {
    cursor: pointer;
    position: absolute;
    width: 100%;
    max-height: 600px;
    will-change: transform, opacity;
}  
@media (max-width: 30em) {
    .main{
        height: 600px;
    }
}
@media (min-width: 30em) and (max-width: 45em) {
    .main {
        height: 300px
    }
}
@media (min-width: 45em) and (max-width: 60em) {
    .main {
        height: 350px
    }
}
@media (min-width: 60em) and (max-width: 75em) {
    .main {
        height: 450px
    }
}
@media (min-width: 75em) {
    .main {
        height: 550px
    }
}

/*
@media (max-width: 480px) {
    .main {
        margin-bottom: 35rem;
    }
}
@media (min-width: 1100px) {
    .main {
        margin-bottom: 31rem;
    }
}
@media (min-width: 768px) {
    .main {
        margin-bottom: 20rem;
    }
}
*/