.foundermain > div {
    cursor: pointer;
    position: absolute;
    width: 100%;
    max-height: 600px;
    will-change: transform, opacity;
} 
@media (max-width: 480px){
    .paddingfounders {
        padding: 7em 2em 0em;
    }
}
.paddingfounders {
    padding: 4em 2em 0em;
}


@media (max-width: 30em) {
    div.founders{
        height: 600px;
    }
}
@media (min-width: 30em) and (max-width: 45em) {
    div.founders {
        height: 300px
    }
}
@media (min-width: 45em) and (max-width: 60em) {
    div.founders {
        height: 350px
    }
}
@media (min-width: 60em) and (max-width: 75em) {
    div.founders {
        height: 450px;
        background-color: rgba(247,247,247,0.5);
    }
}
@media (min-width: 75em) {
    div.founders {
        height: 550px;
        background-color: rgba(247,247,247,0.5);
    }
}

