/* The flip card container - set the width and height to whatever you want. */
.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #cccccc;
  color: black;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Style the back side */
.flip-card-back {
  background-color: #efefef;
  color: white;
  transform: rotateY(180deg);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fliptitle {
  margin: 0;
  padding-top: 15px;
}
.fliptitleback {
  margin: 0;
  color: black;
}
@media only screen and (max-width: 35em) {
  .flip-card-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .flip-card {
    margin: 1em 0;
  }
}

@media only screen and (min-width: 35em) {
  .flip-card-row {
    display: flex;
    justify-content: space-between;
    margin: 2em 0;
  }
}

/*

.cell {
    position: relative;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #777777;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 60px -10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.5s;
    font-size: 10px;
    line-height: 10px;
  }
  
  .default {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .iconcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .cell:hover {
    box-shadow: 0px 10px 60px -10px rgba(0, 0, 0, 0.2);
  }
  
  .shuffle {
    position: absolute;
    top: 40px;
    left: 40px;
    padding: 0px 20px 0px 20px;
    width: auto;
    height: auto;
    background: white;
    border: solid 2px #ffaad4;
    border-radius: 7px;
    color: #ffaad4;
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: 100;
    line-height: 45px;
  }
  
  .shuffle:hover {
    background: #f9f9f9;
  }
  
  .details {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #ffffffa0;
    color: white;
    padding: 20px;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .details h1 {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .details p {
    margin: 0;
    padding-top: 6px;
  }
  
  .close {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 20px;
    color: #777777;
  }
  
  .main {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    padding: 30px 70px 30px 70px;
    height: auto;
    display: flex;
  }
  
  .grid {
    flex: 1;
  }
  
  .ant-btn-primary {
    background-color: #ca6a9a !important;
    border-color: #ca6a9a !important;
  }
*/